/* 	Stylesheet Script 0.1 
 	Author Daniel Kreck 
 */

@charset "utf-8";


/* Home

 */
 
html, body {
	width: 100%;
	height: 100%;
	max-width: 1400px;
	margin: 0 auto;	
}

 
/* Navbar
=================================================================================================== */

.navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 1%;
      margin-left: 10%;
      margin-right: 10%;
}

/* Carousel
=================================================================================================== */

.carousel-inner .carousel-caption p {
	display: inline;
	margin-left: 100%;
}

/* Content
=================================================================================================== */

.seitenleiste {
	margin-top: 20px;
}
h1 {
	color: #2EA342; 
	text-decoration: none;
}
h1, h2, h3, h4{
	color: #2EA342;
}

.content-Container .span4 {
    text-align: center;
    margin-top: 30px;
}
.content-Container h2 {
    font-weight: normal;
}
.content-Container .span4 p {
    margin-left: 10px;
    margin-right: 10px;
}

.img-circle {
	height: 40%;
	width:	40%;
}

/* Breadcrumb
=================================================================================================== */


/* Impressum

 */

.page-header {
	margin-top: 100px;
}

.jumbotron {
	/* background-image: url(../images/tree-338211_1280.jpg);	*/
	/* background-image: url(../images/panorama-royal-angle-330890_1920.jpg); */
	background: transparent;
	background-size:100%;
	background-repeat: no-repeat;
	height: 100%;
	min-height: 300px;
	text-align: center;
  	background-color: transparent;
}









